/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
Peduly-Backend.zip
public/images/images_verification
public/images/images_campaign
test.jpg
volunteers.txt
.idea
public/images
/api